body{
  text-align: center;
}
.App {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
input {
  width: 448px;
  height: 32px;
}
img{
  width: 200px;
  padding: 18px 10px;
}
.inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding: 1vw;
}
.icons{
  font-size: 2.5vw;
  color: rgb(129, 127, 127);
  
}
.icons:hover{
  cursor: pointer;
}
.container{
  width: 750px;
  border-radius: 2vw;
  border: 2px solid black;
  text-align: start !important;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 750px;
  border-radius: 2vw;
  border: 2px solid black;
  text-align: start !important;
}
.image-container{
  position: relative;
}
.badge{
  position: absolute;
  top: 0;
  left: 10px;
  padding: 2px;
  border-radius: 0 10px 10px 10px;
  background: rgba(209, 252, 55, 0.97);
}
.product-container{
  display: flex;
  border: 1px solid gainsboro;
  box-shadow: 0px 2px 4px gray;
  margin: 1vw 2vw;
  border-radius: 1vw;
}
mark{
  background: #000;
}